<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Xenol</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <h1>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas sit
      inventore nesciunt, quae similique pariatur vel perferendis magnam
      repellat, aliquam alias dolor error ipsam perspiciatis saepe possimus
      quibusdam minima quidem totam nam, corrupti eveniet illo iste voluptatem!
      Illum iure deleniti, fugit incidunt beatae aliquid voluptatibus, quidem
      tempora iste minus perspiciatis quia explicabo fugiat sint enim quae
      adipisci nesciunt aut maxime inventore numquam eos. Sunt sit id voluptates
      suscipit quod, sequi ad consequatur dolore eveniet dolorum, eos mollitia
      culpa harum saepe. Nostrum sit nihil aperiam laborum. Consequuntur quia
      error corrupti reprehenderit quas mollitia asperiores libero molestias.
      Inventore ut dicta distinctio eaque?
    </h1>
    <%- include('partials/footer') %>
  </body>
</html>
