<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xenol - Stay Protected Online</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum iure
      laborum magnam labore, laboriosam possimus sed hic a id quis error nulla
      deserunt maiores. Possimus repudiandae rem ipsum? Velit accusantium
      exercitationem illo eligendi modi voluptatem vitae incidunt eos amet vero
      inventore doloremque, dolores, assumenda porro esse labore at provident
      quis voluptates? Nemo aliquid quam molestias magni dolores iure delectus
      fugit doloremque, fugiat magnam corporis tempora eos tenetur impedit in,
      esse vitae sed maiores corrupti officiis debitis aspernatur at explicabo?
      Numquam, corporis hic. Atque tempora sint quos est. Veniam a modi
      laboriosam eveniet beatae nam accusamus atque cupiditate magnam.
      Consequatur, molestiae?
    </p>

    <%- include('partials/footer') %>
  </body>
</html>
