<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <h1>karibu to Borez</h1>
    <form action="/welcome" method="post">
      <label for="karibu">Karibu</label>
      <input type="karibu" name="karibu" id="karibu" />
      <br />
      <label for="password">password</label>
      <input type="password" name="password" id="password" />
      <br />
      <input type="submit" value="karibu" />
    </form>
  </body>
</html>
